{{template "views/layouts/layout.html" .}}

{{define "title"}}Pieces{{end}}

{{define "body"}}
<h1>Pieces</h1>

<form id="register-form"
      hx-post="/pieces/register" hx-target="#piece-list" hx-swap="outerHTML"
      hx-on::after-request="this.reset()">
    <div class="input-group mb-3">
        <input type="text" name="title" class="form-control" placeholder="New piece..." required />
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>

<div id="piece-list">
    {{template "features/pieces/_list.html" .}}
</div>
{{end}}
