<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kintsugi</title>
  <link rel="stylesheet" href="/css/site.css?v={{cssVersion}}" />
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
  <header class="header">
    <div class="header-inner">
      <a href="/" class="header-brand">Kintsugi</a>
      <nav>
        <ul class="header-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/pieces">Pieces</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    {{{body}}}
  </main>

  <script src="/js/site.js"></script>
</body>
</html>
